/* .homeImage {
  background-image: url('../images/smallerimg.jpg');
  background-position: initial;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 0;
} */

/* body {
  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
} */

/* img {
  position: relative;
  justify-items: center;
  z-index: 1;
  width: 100%;
} */
.homeImg {
  min-width: 275px;
}
blockquote {
  background-color: rgb(240, 248, 255, 0.5);
  background-image: url('../images/smallerimg.jpg');
  color: rgb(57, 129, 212);
  font-family: Tahoma, sans-serif;
  font-size: 40px;
  width: 100%;
  max-width: 1400px;
  min-width: 275px;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-top: 20px;
  padding-right: 70px;
}
blockquote h1 {
  font-size: 4rem;
}
blockquote p {
  font-style: italic;
  margin-bottom: 0;
}

blockquote p::before,
blockquote p::after {
  content: '“';
  font-family: Georgia;
  font-size: 4rem;
  margin: -2rem 0 0 -4rem;

  opacity: 0.9;
}

blockquote p::after {
  content: '”';
  margin: -1rem -4rem 0 0;
}

blockquote cite {
  font-size: 1.5rem;
}

@media screen and (max-width: 960px) {
  .homeImg {
    min-width: 275px;
  }
  blockquote {
    color: rgb(57, 129, 212);
    font-family: Tahoma, sans-serif;
    font-size: 15px;

    margin: 0 auto;
    padding-bottom: 25px;
    min-width: 275px;
  }
  blockquote h1 {
    font-size: 2rem;
  }
  blockquote p {
    font-style: italic;
    margin-bottom: 0;
  }

  blockquote p::before,
  blockquote p::after {
    content: '“';
    font-family: Georgia;
    font-size: 4rem;
    margin: -1rem 0 0 -2rem;
    position: absolute;
    opacity: 0.9;
  }

  blockquote p::after {
    content: '”';
    margin: -0.5rem -2rem 0 0;
  }

  blockquote cite {
    font-size: 1.5rem;
  }
}
